{% extends "back_office/base.html.twig" %}

{% block content %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form(form) }}
{% endblock %}