{% extends "back_office/base.html.twig" %}

{% block content %}

    <h1 class="h3">Feature tags</h1>
    <a href="{{ path('bo_feature_tag_add', {'slug':app.user.slug}) }}" class="btn btn-primary mt-3" role="button">Přidat tag</a>
    <table class="table table-striped mt-5">
        {% for tag in tags %}
            <tr>
                <td>{{ tag.name }}</td>
                <td><a href="{{ path('bo_feature_tag_edit', {'company_slug': slug, 'tag_id':tag.id }) }}">Upravit</a></td>
                <td><a href="{{ path('bo_feature_tag_delete', {'company_slug': slug, 'tag_id':tag.id }) }}">Smazat</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}