{% extends "front_office/portal/base.html.twig" %}

{% block title %}
    {{ portal.name }}
{% endblock %}

{% block content %}
    <div style="max-width:600px" class="mx-auto mt-5">
        <p><a href="{{ path('fo_portal_detail', {'slug':portal.slug}) }}">
                <i class="bi bi-arrow-bar-left"></i>
                Zpět
            </a>
        </p>
        <div class="border p-4 rounded">

            {% if app.request.get('_route') == 'fo_portal_insight_add' %}

                {% include('front_office/components/portal_feature_info.html.twig') %}

            {% endif %}

            <h3 class="text-center h4 mb-4">Add feedback</h3>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}