{% extends "base.html.twig" %}
{% block title %}
    {{ 'register_action'|trans }}
{% endblock %}
{% block body %}
    <h1>Portál firmy: {{ portalName }}</h1>
    <h2>Features</h2>
    {% for stateWithFeatures in featuresByState %}
        <strong>{{ stateWithFeatures.state }}</strong><br />
        {% for feature in stateWithFeatures.features %}
            {{ feature.name }}<br/>
        {% endfor %}
    {% endfor %}
{% endblock %}