{% extends "base.html.twig" %}
{% block title %}
    {{ 'register_action'|trans }}
{% endblock %}
{% block body %}
    <h1>Portál firmy: {{ portalName }}</h1>
    <h2>Přidat feedback k feature {{ featureName }}</h2>
    {{ form(form) }}
{% endblock %}