{% extends "base.html.twig" %}
{% block title %}
    {{ 'register_action'|trans }}
{% endblock %}
{% block body %}
    <h1>Portál firmy: {{ portalName }}</h1>
    <h2>Features</h2>
    {%  for feature in portalFeatures %}
        {{ feature.name }}
    {% endfor %}
{% endblock %}