{% extends "front_office/base.html.twig" %}

{% block title %}Nastavit nové heslo{% endblock %}

{% block content %}
    <p>Odkaz již není platný. Požádejte znova o <a href="{{ path('fo_renew_password')  }}">obnovení hesla</a>.</p>
{% endblock %}