{% extends "front_office/base.html.twig" %}

{% block title %}Set new password{% endblock %}

{% block content %}
    <p>Link is not valid anymore. Try to <a href="{{ path('fo_renew_password')  }}">renew password again</a>.</p>
{% endblock %}