{% extends "front_office/base.html.twig" %}

{% block title %}Forgotten password{% endblock %}

{% block content %}
    <h1 class="h3">Forgotten password</h1>

    <p></p>
    {{ form(form) }}
{% endblock %}