{% extends "back_office/base.html.twig" %}

{% block content %}
    <h1 class="h3 mb-4">Přidat / upravit feedback</h1>

    {{ form_start(form) }}

        {{ form_row(form.description) }}

        {{ form_row(form.source) }}

    {{ form_end(form) }}
{% endblock %}