{% extends "back_office/base.html.twig" %}

{% block title %}Přidat / upravit feedback{% endblock %}


{% block content %}
    <h1 class="h3 mb-4">Přidat / upravit feedback</h1>

    {{ form(form) }}
{% endblock %}