{% extends "back_office/base.html.twig" %}

{% block content %}
    {% include('back_office/components/feedback_header.html.twig') %}

    {% include('back_office/components/feedback_tabs.html.twig') %}

    <p class="font-weight-bold">Co uživatelé říkají?</p>
    <p>{{ feedback.description }}</p>
    <p class="font-weight-bold">Od koho feedback máte?</p>
    <p>{{ feedback.source }}</p>

{% endblock %}