{% extends "back_office/base.html.twig" %}

{% block title %}Feedback{% endblock %}

{% block content %}
    {% include('back_office/components/feedback_header.html.twig') %}

    {% include('back_office/components/feedback_tabs.html.twig') %}

    <p class="font-weight-bold">What users say?</p>
    <p>{{ feedback.description }}</p>

    {% if feedback.source %}
        <p class="font-weight-bold">Contact</p>
        <p>{{ feedback.source }}</p>
    {% endif %}

{% endblock %}