{% extends "back_office/base.html.twig" %}

{% block content %}

    <h1 class="h3">Feedbacks</h1>
    <a href="{{ path('bo_feedback_add', {'slug':app.user.slug}) }}" class="btn btn-primary mt-3" role="button">Přidat feedback</a>

    {% include 'back_office/components/feedback_list.html.twig' %}

{% endblock %}