{% extends "back_office/base.html.twig" %}

{% block content %}
    {% include('back_office/components/feature_header.html.twig') %}

    {% include('back_office/components/feature_tabs.html.twig') %}
    <p class="font-weight-bold">Prioritizační skóre</p>
    <p>
        <span class="badge badge-warning" style="font-size:16px">{{ feature.score }}</span>
    </p>
    <p class="font-weight-bold">Popis</p>
    <p>{{ feature.description }}</p>
{% endblock %}