{% extends "back_office/base.html.twig" %}

{% block content %}
    {% include('back_office/components/feature_header.html.twig') %}

    {% include('back_office/components/feature_tabs.html.twig') %}

    {% include('back_office/components/feedback_list.html.twig') %}

    <h2 class="h4 mt-4 mb-4">Přidat nový feedback</h2>
    {{ form(form) }}
{% endblock %}