{% extends "back_office/base.html.twig" %}

{% block title %}Portal{% endblock %}

{% block content %}
    <h1>Portal is not available</h1>
    <p>You need to set up portal feature states first.</p>
{% endblock %}