{% extends "back_office/base.html.twig" %}

{% block title %}Portal{% endblock %}

{% block content %}
    <h1>Portál není dostupný</h1>
    <p>Neexistují žádné stavy, portal nemůže být zobrazen.</p>
{% endblock %}