{% extends "back_office/base.html.twig" %}

{% block content %}
    <h1 class="h3 mb-4 text-center">Portál</h1>
    <h2 class="h4 mb-4">Nastavení</h2>
    {{ form(form) }}

    {% if portal.display %}
        <div class="mt-5">
            <div class="alert alert-info" role="alert">
                Portal naleznete <a href="{{ path('fo_portal_detail', {'slug':portal.slug}) }}">zde</a>.
            </div>
        </div>

        {% include('shared_components/portal_tabs.html.twig') %}

        {% include('shared_components/portal_features_cards.html.twig') %}

    {% else %}
        <div class="alert alert-danger mt-5" role="alert">
            Portál neběží.
        </div>
    {% endif %}
{% endblock %}