{% extends "back_office/base.html.twig" %}

{% block title %}Portal{% endblock %}

{% block content %}
    <h1 class="h3 mb-4">Portal</h1>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingAbout">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseAbout" aria-expanded="true" aria-controls="collapseAbout">
                        What is the portal?
                    </button>
                </h5>
            </div>

            <div id="collapseAbout" class="collapse" aria-labelledby="headingAbout" data-parent="#accordion">
                <div class="card-body">
                    Portal enables you to share your ideas and planned features with users. Users can easily send you feedback.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSettings">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSettings" aria-expanded="false" aria-controls="collapseSettings">
                        Settings
                        {% if portal.display %}
                            <span class="badge badge-success">Portal is activated</span>
                        {% else %}
                            <span class="badge badge-danger">Portat is not activated</span>
                        {% endif %}
                    </button>
                </h5>
            </div>
            <div id="collapseSettings" class="collapse {% if not portal.display %}show{% endif %}" aria-labelledby="headingSettings" data-parent="#accordion">
                <div class="card-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>

        {% if portal.display %}
        <div class="card">
            <div class="card-header" id="headingShare">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseShare" aria-expanded="false" aria-controls="collapseShare">
                        Share portal with users
                    </button>
                </h5>
            </div>
            <div id="collapseShare" class="collapse show" aria-labelledby="headingShare" data-parent="#accordion">
                <div class="card-body">
                    <p><a href="{{ portalPublicUrl }}" class="btn btn-outline-primary" target="_blank" role="button">
                            Display portal</a></p>
                    <label>Share portal:</label>
                    <input type="text" class="form-control" value="{{ portalPublicUrl }}" disabled="disabled" />
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    {% if portal.display %}

        {% include('shared_components/portal_tabs.html.twig') %}

        {% include('shared_components/portal_features_cards.html.twig') %}

    {% endif %}
{% endblock %}