<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a class="nav-link {% if app.request.get('_route') == 'bo_feedback_detail' %}active{% endif %}" href="{{ path('bo_feedback_detail', {'company_slug':app.user.slug, 'feedback_id': feedback.id}) }}">Popis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if app.request.get('_route') == 'bo_feedback_features' %}active{% endif %}" href="{{ path('bo_feedback_features', {'company_slug':app.user.slug, 'feedback_id': feedback.id}) }}">Features <span class="badge badge-secondary">{{ insightsCount }}</span></a>
    </li>
</ul>