{% extends "front_office/base.html.twig" %}

{% block content %}

    {% block header %}{% endblock %}

    <p class="mt-4">Pokud se jedná o chybu, nahlašte nám ji prosím na <a href="mailto:{{ supportMail }}">{{ supportMail }}</a>, děkujeme.</p>
    <p><a href="

        {% if app.user %}
            {{ path('bo_feedback_list', {'slug':app.user.slug}) }}
        {% else %}
            {{ path('fo_home') }}
        {% endif %}

       " class="btn btn-outline-primary">
            {% if app.user %}
                Zpět do administrace
            {% else %}
                Zpět na hlavní stranu
            {% endif %}
        </a></p>
{% endblock %}