{% extends "front_office/base.html.twig" %}

{% block title %}Welcome!{% endblock %}

{% block content %}
    <h1 class="h3">Welcome on MyProduct!</h1>

    <p class="lead">All details about the project can be found on <a href="{{ doc_url }}">{{ doc_url }}</a>.</p>
    <p class="lead">If you have any questions, contact us on <a href="mailto:{{ supportMail }}">{{ supportMail }}</a>.</p>

{% endblock %}