{% extends "front_office/base.html.twig" %}

{% block title %}Sign up to {{ app_name }}{% endblock %}

{% block content %}
  <h1 class="h3 mb-4">Sign up to {{ app_name }}</h1>
  {{ form(form) }}
{% endblock %}


