{% extends "error_base.html.twig" %}

{% block title %}Access denied - error 403{% endblock %}

{% block header %}
    <h1 class="h3">Access denied <i class="bi bi-x-circle"></i></h1>
    <p class="text-secondary lead">Error 403</p>
{% endblock %}