{% extends "error_base.html.twig" %}

{% block title %}Server error - error 500{% endblock %}

{% block header %}
    <h1 class="h3">We are sorry, there is an error  <i class="bi bi-bug"></i></h1>
    <p class="text-secondary lead">Error 500</p>
{% endblock %}