{% extends "error_base.html.twig" %}

{% block title %}Přístup zamítnut - error 403{% endblock %}

{% block header %}
    <h1 class="h3">Přístup zamítnut <i class="bi bi-x-circle"></i></h1>
    <p class="text-secondary lead">Error 403</p>
{% endblock %}