{% extends "error_base.html.twig" %}

{% block title %}Stránka nenalezena - error 404{% endblock %}

{% block header %}
    <h1 class="h3">Omlouváme se, stránka nenalazena <i class="bi bi-emoji-frown"></i></h1>
    <p class="text-secondary lead">Error 404</p>
{% endblock %}