{% extends "error_base.html.twig" %}

{% block title %}Requested page was not found - error 404{% endblock %}

{% block header %}
    <h1 class="h3">We are sorry, requested page was not found <i class="bi bi-emoji-frown"></i></h1>
    <p class="text-secondary lead">Error 404</p>
{% endblock %}