{% extends "error_base.html.twig" %}

{% block title %}Chyba serveru - error 500{% endblock %}

{% block header %}
    <h1 class="h3">Omlouváme se, došlo k chybě  <i class="bi bi-bug"></i></h1>
    <p class="text-secondary lead">Error 500</p>
{% endblock %}