<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body style="font-family: Arial">
    {% block body %}{% endblock %}
    <p style="text-align: center; padding-top:20px">{{ app_name }} by {{ author }}</p>
</body>
</html>