{% extends "email/base.html.twig" %}

{% block body %}
    <h1 style="text-align: center">Obnovení zapomenutého hesla</h1>

    <p style="text-align: center"><a href="{{ link }}"
       style="display:block; padding:10px; background:dodgerblue;color:white;border-radius:5px; width:150px; margin: 0 auto">
            Obnovit heslo</a></p>
    <p style="text-align: center"><a href="{{ link }}">{{ link }}</a></p>
{% endblock %}
