{% extends "base.html.twig" %}
{% block title %}
    {{ 'register_action'|trans }}
{% endblock %}
{% block body %}
    <h1>Portál firmy: {{ portalName }}</h1>
    <p>Název: {{ feature.name }}</p>
    <p>Popis: {{ feature.description }}</p>
{% endblock %}